{% extends 'main/base.html' %}

{% block title %} Categories list {% endblock title %}
{% block menu_navbar %}
<ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link" href={% url 'index' %}>Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href={% url 'importcsv'%}>Import</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href={%url 'categories'%}>Categories
            <span class="visually-hidden">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
</ul>
{%endblock menu_navbar%}
{% block content %}
<div class="container-fluid mt-5 w-auto ms-5 me-5" >
    {% if categories %}  
    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="col">Name</th>
                <th scope="col">Keyword</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr class="table-light">
                    <td>{{ category.name }}</td>
                    <td>
                        {% for keyword in keywords %}
                            {% if keyword.category == category%}
                                {{keyword}}, 
                            {% else %}

                            {% endif %}
                        {% endfor %}
                    </td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-dismissible alert-info m-5 w-25">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>No records!</strong> 
    </div>
    {% endif %}
</div>    
<button type="submit" class="btn btn-secondary mt-2"  data-bs-toggle="modal" data-bs-target="#modaladdcat">Add New Category</button>
          
    <!-- Modal -->
        <div class="modal" id="modaladdcat" tabindex=-"-1" arial-labelledby="mymodallabel1" arial-hidden="true" >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add New Category</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>The new category will be associated with every operation that include the keyword associated</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group w-25">
            <label for="selectkeyword" class="form-label mt-4">Choose a Relevant Keyword</label>
            <select class="form-select" id="selectkeyword">
                {% for keyword in keyword_memo %}
                    <option>{{ keyword }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary mt-5">Submit</button>
        </div>
        

{% endblock content %}