{% extends 'main/base.html' %}

{% block title %} Create New List {% endblock title %}
{% block menu_navbar %}
<ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link" href={% url 'index' %}>Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href={% url 'importcsv'%}>Import</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href={% url 'sorted'%}>Stats</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href={%url 'categories'%}>Categories
            <span class="visually-hidden">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
</ul>
{%endblock menu_navbar%}
{% block content %}
<div class="container-fluid mt-5 w-auto ms-5 me-5" >
    {% if categories %}  
    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="col">Name</th>
                <th scope="col">Keyword</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr class="table-light">
                    <td>{{ category.name }}</td>
                    <td>
                        {% for keyword in keywords %}
                            {% if keyword.category == category%}
                                {{keyword}}, 
                            {% else %}

                            {% endif %}
                        {% endfor %}
                    </td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-dismissible alert-info m-5 w-25">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>No records!</strong> 
    </div>
    {% endif %}
</div>    
{% endblock content %}