{% extends 'main/base.html' %}

{% block title %} Create New List {% endblock title %}
{% block menu_navbar %}
<ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link" href={% url 'index' %}>Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href={% url 'importcsv'%}>Import
        <span class="visually-hidden">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href={% url 'sorted'%}>Stats</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
</ul>
{% endblock menu_navbar %}
{% block content %}
<div class="form-group m-5" >
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-primary" name="save">Upload</button>
    </form>
</div>
{% endblock content %}