{% extends 'main/base.html' %}

{% block title %} Edit Operation {% endblock title %}
{% block menu_navbar %}
<ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link" href={% url 'index' %}>Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href={% url 'importcsv'%}>Import</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href={%url 'categories'%}>Categories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
</ul>
{%endblock menu_navbar%}
{% block content %}
{% if success %}
<div class="alert alert-dismissible alert-success w-25">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong></strong> Category successfully created!
</div>
{% else %}
{% endif %}
<div class="container-fluid mt-5 w-auto ms-5 me-5" >  
    <table class="table table-hover shadow">
        <thead>
            <tr class="table-dark">
                <th scope="col">Date</th>
                <th scope="col">Type</th>
                <th scope="col">Memo</th>
                <th scope="col">Amount</th>
                <th scope="col">Category</th>
            </tr>
        </thead>
        <tbody>
             <tr class="table-light">
                    <td>{{ operation.date }}</td>
                    <td>{{ operation.type }}</td>
                    <td>{{ operation.memo }}</td>
                    <td>{{ operation.amount }}</td>
                    <td>{{ operation.category }}</td>
             </tr>
        </tbody>
    </table>
</div>    
<div class="container-fluid shadow mt-5 w-25 p-4" > 
  <form method ="POST" action={% url 'operation' operation.uniqueid %}>
    <fieldset class="w-75">
      <legend>Edit Operation</legend>
      <div class="form-group " >
        <label for="selectcategory" class="form-label mt-4">Choose a Category</label>
        <select required class="form-select" id="selectcategory">
          {% for category in categories %}
            <option>{{ category.name }}</option>
          {% endfor %}
        </select>
      </div>  
      <div class="form-group">
        <label for="selectkeyword" class="form-label mt-4">Choose a Relevant Keyword</label>
        <select class="form-select" id="selectkeyword">
          {% for keyword in keyword_memo %}
            <option>{{ keyword }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary mt-5 mb-3">Submit</button>
      </fieldset>
  </form>
  <div class="mb-5">
    <button type="submit" class="btn btn-secondary mt-2"  data-bs-toggle="modal" data-bs-target="#modaladdcat">Add New Category</button>
              
          <!-- Modal -->
          <div class="modal" id="modaladdcat" tabindex=-"-1" arial-labelledby="mymodallabel1" arial-hidden="true" >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <form method='POST' action={% url 'operation' operation.uniqueid %}>
                  <div class="modal-header">
                    <h5 class="modal-title">Add New Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>The new category will be associated with every operation that include the keyword associated</p>
                    {% csrf_token %}
                    {{ form.as_p}}
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
  </div>
</div>

{% endblock content %}