{% extends 'main/base.html' %}

{% block title %} Create New List {% endblock title %}
{% block menu_navbar %}
<ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link" href={% url 'index' %}>Home
        <span class="visually-hidden">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href={% url 'importcsv'%}>Import</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href={% url 'categories'%}>Categories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
</ul>
{%endblock menu_navbar%}
{% block content %}
<div class="container-fluid mt-5 w-auto ms-5 me-5" >
    {% if operations %}
        <form method="POST"> 
            {%csrf_token%}
            <button type="submit" class="btn btn-secondary mb-5" method="POST">Reset ALL categories</button>
        </form>
        <table class="table table-hover shadow">
        <thead>
            <tr class="table-dark">
                <th scope="col">Date</th>
                <th scope="col">Memo</th>
                <th scope="col">Amount</th>
                <th scope="col">Category</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for operation in operations %}
                <tr class="table-light">
                    <td>{{ operation.date }}</td>
                    <td>{{ operation.memo }}</td>
                    <td>{{ operation.amount }}</td>
                    <td>{{ operation.categorie }}</td>
                    <td> 
                        <a href={% url 'operation' operation.uniqueid %}>
                        <button type="button" class="btn btn-primary btn-sm" >Edit</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-dismissible alert-info m-5 w-25">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>No records!</strong> 
    </div>
    {% endif %}
</div>    
{% endblock content %}