{% extends 'main/base.html' %}

{% block title %} Create New List {% endblock title %}
{% block menu_navbar %}
<ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link" href={% url 'index' %}>Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href={% url 'importcsv'%}>Import</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href={% url 'sorted'%}>Stats</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href={%url 'categories'%}>Categories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
</ul>
{%endblock menu_navbar%}
{% block content %}
<div class="container-fluid mt-5 w-auto ms-5 me-5" >  
    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="col">Date</th>
                <th scope="col">Type</th>
                <th scope="col">Memo</th>
                <th scope="col">Amount</th>
                <th scope="col">Category</th>
            </tr>
        </thead>
        <tbody>
             <tr class="table-light">
                    <td>{{ operation.date }}</td>
                    <td>{{ operation.type }}</td>
                    <td>{{ operation.memo }}</td>
                    <td>{{ operation.amount }}</td>
                    <td>{{ operation.category }}</td>
             </tr>
        </tbody>
    </table>
</div>    
<div class="container-fluid mt-5 w-auto ms-5 me-5" > 
    <form>
        <fieldset>
          <legend>Edit Operation</legend>
          <div class="form-group w-25">
            <label for="selectcategory" class="form-label mt-4">Choose category</label>
            <select required class="form-select" id="selectcategory">
                {% for category in categories %}
                    <option>{{ category.name }}</option>
                {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-secondary mt-2"  data-bs-toggle="modal" data-bs-target="#modaladdcat">Add New Category</button>
          
          <!-- Modal -->
          <div class="modal" id="modaladdcat" tabindex=-"-1" arial-labelledby="mymodallabel1" arial-hidden="true" >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                <h5 class="modal-title">Add New Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>The new category will be associated with every operation that include the keyword associated</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
          </div>
          <div class="form-group w-25">
            <label for="selectkeyword" class="form-label mt-4">Choose a Relevant Keyword</label>
            <select class="form-select" id="selectkeyword">
                {% for keyword in keyword_memo %}
                    <option>{{ keyword }}</option>
                {% endfor %}
            </select>
          </div>
          
          <button type="submit" class="btn btn-primary mt-5">Submit</button>
        </fieldset>
      </form>

</div>
{% endblock content %}